In [2]:
import pandas as pd

In [3]:
# CSV(Comma-Separated Values) : 
# 값들이 comma(,)로 구분되어 있는 텍스트 파일
# 구분자(separator) : 값들을 구별하기 위해서 넣는 특수 문자
# CSV 파일 일반적으로 comma를 구분자로 사용하지만,
# 탭('\t'), 콜론(:), 이중콜론(::) 등 다양하게 구분자를 사용할 수 있음

path = 'drive/My Drive/Colab Notebooks/202006/gapminder.tsv'
gapminder = pd.read_csv(path, sep='\t')
gapminder.head()   # DataFrame에서 첫 5개 행만 선택

       country continent  year  lifeExp       pop   gdpPercap
0  Afghanistan      Asia  1952   28.801   8425333  779.445314
1  Afghanistan      Asia  1957   30.332   9240934  820.853030
2  Afghanistan      Asia  1962   31.997  10267083  853.100710
3  Afghanistan      Asia  1967   34.020  11537966  836.197138
4  Afghanistan      Asia  1972   36.088  13079460  739.981106

In [4]:
print(gapminder.shape)   # (row 개수, column 개수)

(1704, 6)

In [5]:
print(gapminder.columns)   # 컬럼 이름

Index(['country', 'continent', 'year', 'lifeExp', 'pop', 'gdpPercap'], dtype='object')

In [6]:
gapminder.describe()   # 요약 기술 통계량(descriptive statistics)

             year      lifeExp           pop      gdpPercap
count  1704.00000  1704.000000  1.704000e+03    1704.000000
mean   1979.50000    59.474439  2.960121e+07    7215.327081
std      17.26533    12.917107  1.061579e+08    9857.454543
min    1952.00000    23.599000  6.001100e+04     241.165877
25%    1965.75000    48.198000  2.793664e+06    1202.060309
50%    1979.50000    60.712500  7.023596e+06    3531.846989
75%    1993.25000    70.845500  1.958522e+07    9325.462346
max    2007.00000    82.603000  1.318683e+09  113523.132900

In [7]:
# DataFrame에서 컬럼을 선택 : df[컬럼이름], df[[col1, col2, ...]]
# gapminder DF에서 나라이름, GDP 선택
gapminder[["country", "gdpPercap"]]

          country   gdpPercap
0     Afghanistan  779.445314
1     Afghanistan  820.853030
2     Afghanistan  853.100710
3     Afghanistan  836.197138
4     Afghanistan  739.981106
...           ...         ...
1699     Zimbabwe  706.157306
1700     Zimbabwe  693.420786
1701     Zimbabwe  792.449960
1702     Zimbabwe  672.038623
1703     Zimbabwe  469.709298

[1704 rows x 2 columns]

In [8]:
# DataFrame에서 row로 선택 : df.loc[], df.iloc[]
gapminder.loc[0:4]

       country continent  year  lifeExp       pop   gdpPercap
0  Afghanistan      Asia  1952   28.801   8425333  779.445314
1  Afghanistan      Asia  1957   30.332   9240934  820.853030
2  Afghanistan      Asia  1962   31.997  10267083  853.100710
3  Afghanistan      Asia  1967   34.020  11537966  836.197138
4  Afghanistan      Asia  1972   36.088  13079460  739.981106

In [9]:
gapminder.iloc[0:5]

       country continent  year  lifeExp       pop   gdpPercap
0  Afghanistan      Asia  1952   28.801   8425333  779.445314
1  Afghanistan      Asia  1957   30.332   9240934  820.853030
2  Afghanistan      Asia  1962   31.997  10267083  853.100710
3  Afghanistan      Asia  1967   34.020  11537966  836.197138
4  Afghanistan      Asia  1972   36.088  13079460  739.981106

In [10]:
# gapminder DF에서 끝에서 7개의 행(row)를 선택
gapminder.iloc[-7:]

       country continent  year  lifeExp       pop   gdpPercap
1697  Zimbabwe    Africa  1977   57.674   6642107  685.587682
1698  Zimbabwe    Africa  1982   60.363   7636524  788.855041
1699  Zimbabwe    Africa  1987   62.351   9216418  706.157306
1700  Zimbabwe    Africa  1992   60.377  10704340  693.420786
1701  Zimbabwe    Africa  1997   46.809  11404948  792.449960
1702  Zimbabwe    Africa  2002   39.989  11926563  672.038623
1703  Zimbabwe    Africa  2007   43.487  12311143  469.709298

In [12]:
# boolean indexing
# gapminder 데이터프레임에서 2007년 자료만 선택
gapminder["year"] == 2007

0       False
1       False
2       False
3       False
4       False
        ...
1699    False
1700    False
1701    False
1702    False
1703     True
Name: year, Length: 1704, dtype: bool

In [14]:
gapminder[gapminder["year"] == 2007]

                 country continent  year  lifeExp       pop     gdpPercap
11           Afghanistan      Asia  2007   43.828  31889923    974.580338
23               Albania    Europe  2007   76.423   3600523   5937.029526
35               Algeria    Africa  2007   72.301  33333216   6223.367465
47                Angola    Africa  2007   42.731  12420476   4797.231267
59             Argentina  Americas  2007   75.320  40301927  12779.379640
...                  ...       ...   ...      ...       ...           ...
1655             Vietnam      Asia  2007   74.249  85262356   2441.576404
1667  West Bank and Gaza      Asia  2007   73.422   4018332   3025.349798
1679         Yemen, Rep.      Asia  2007   62.698  22211743   2280.769906
1691              Zambia    Africa  2007   42.384  11746035   1271.211593
1703            Zimbabwe    Africa  2007   43.487  12311143    469.709298

[142 rows x 6 columns]

In [18]:
# Asia 대륙의 자료만 선택
gapminder[gapminder["continent"] == "Asia"]

          country continent  year  lifeExp       pop    gdpPercap
0     Afghanistan      Asia  1952   28.801   8425333   779.445314
1     Afghanistan      Asia  1957   30.332   9240934   820.853030
2     Afghanistan      Asia  1962   31.997  10267083   853.100710
3     Afghanistan      Asia  1967   34.020  11537966   836.197138
4     Afghanistan      Asia  1972   36.088  13079460   739.981106
...           ...       ...   ...      ...       ...          ...
1675  Yemen, Rep.      Asia  1987   52.922  11219340  1971.741538
1676  Yemen, Rep.      Asia  1992   55.599  13367997  1879.496673
1677  Yemen, Rep.      Asia  1997   58.020  15826497  2117.484526
1678  Yemen, Rep.      Asia  2002   60.308  18701257  2234.820827
1679  Yemen, Rep.      Asia  2007   62.698  22211743  2280.769906

[396 rows x 6 columns]

In [21]:
# Asia 대륙의 2007년 자료만 선택
# () & (), () | (), ~()
gapminder[(gapminder["continent"] == "Asia") & (gapminder["year"] == 2007)]

                 country continent  year  lifeExp         pop     gdpPercap
11           Afghanistan      Asia  2007   43.828    31889923    974.580338
95               Bahrain      Asia  2007   75.635      708573  29796.048340
107           Bangladesh      Asia  2007   64.062   150448339   1391.253792
227             Cambodia      Asia  2007   59.723    14131858   1713.778686
299                China      Asia  2007   72.961  1318683096   4959.114854
671     Hong Kong, China      Asia  2007   82.208     6980412  39724.978670
707                India      Asia  2007   64.698  1110396331   2452.210407
719            Indonesia      Asia  2007   70.650   223547000   3540.651564
731                 Iran      Asia  2007   70.964    69453570  11605.714490
743                 Iraq      Asia  2007   59.545    27499638   4471.061906
767               Israel      Asia  2007   80.745     6426679  25523.277100
803                Japan      Asia  2007   82.603   127467972  31656.068060
815               Jordan      Asia  2007   72.535     6053193   4519.461171
839     Korea, Dem. Rep.      Asia  2007   67.297    23301725   1593.065480
851          Korea, Rep.      Asia  2007   78.623    49044790  23348.139730
863               Kuwait      Asia  2007   77.588     2505559  47306.989780
875              Lebanon      Asia  2007   71.993     3921278  10461.058680
947             Malaysia      Asia  2007   74.241    24821286  12451.655800
1007            Mongolia      Asia  2007   66.803     2874127   3095.772271
1055             Myanmar      Asia  2007   62.069    47761980    944.000000
1079               Nepal      Asia  2007   63.785    28901790   1091.359778
1163                Oman      Asia  2007   75.640     3204897  22316.192870
1175            Pakistan      Asia  2007   65.483   169270617   2605.947580
1223         Philippines      Asia  2007   71.688    91077287   3190.481016
1319        Saudi Arabia      Asia  2007   72.777    27601038  21654.831940
1367           Singapore      Asia  2007   79.972     4553009  47143.179640
1439           Sri Lanka      Asia  2007   72.396    20378239   3970.095407
1499               Syria      Asia  2007   74.143    19314747   4184.548089
1511              Taiwan      Asia  2007   78.400    23174294  28718.276840
1535            Thailand      Asia  2007   70.616    65068149   7458.396327
1655             Vietnam      Asia  2007   74.249    85262356   2441.576404
1667  West Bank and Gaza      Asia  2007   73.422     4018332   3025.349798
1679         Yemen, Rep.      Asia  2007   62.698    22211743   2280.769906

In [28]:
# Asia 대륙에서 1인당 GDP(gdpPercap)가 10,000 이상인 자료들만 선택
gapminder[(gapminder["continent"] == "Asia") & (gapminder["gdpPercap"] >= 10_000)]

      country continent  year  lifeExp       pop    gdpPercap
85    Bahrain      Asia  1957   53.832    138655  11635.79945
86    Bahrain      Asia  1962   56.923    171863  12753.27514
87    Bahrain      Asia  1967   59.923    202182  14804.67270
88    Bahrain      Asia  1972   63.300    230800  18268.65839
89    Bahrain      Asia  1977   65.593    297410  19340.10196
...       ...       ...   ...      ...       ...          ...
1507   Taiwan      Asia  1987   73.400  19757799  11054.56175
1508   Taiwan      Asia  1992   74.260  20686918  15215.65790
1509   Taiwan      Asia  1997   75.250  21628605  20206.82098
1510   Taiwan      Asia  2002   76.990  22454239  23235.42329
1511   Taiwan      Asia  2007   78.400  23174294  28718.27684

[89 rows x 6 columns]

In [33]:
# 대한민국의 1인당 GDP가 10,000 이상인 자료들
gapminder[(gapminder["country"] == "Korea, Rep.") & (gapminder["gdpPercap"] >= 10_000)]

         country continent  year  lifeExp       pop    gdpPercap
848  Korea, Rep.      Asia  1992   72.244  43805450  12104.27872
849  Korea, Rep.      Asia  1997   74.647  46173816  15993.52796
850  Korea, Rep.      Asia  2002   77.045  47969150  19233.98818
851  Korea, Rep.      Asia  2007   78.623  49044790  23348.13973

In [34]:
gapminder[(gapminder["country"].str.contains("Korea")) & (gapminder["gdpPercap"] >= 10_000)]

         country continent  year  lifeExp       pop    gdpPercap
848  Korea, Rep.      Asia  1992   72.244  43805450  12104.27872
849  Korea, Rep.      Asia  1997   74.647  46173816  15993.52796
850  Korea, Rep.      Asia  2002   77.045  47969150  19233.98818
851  Korea, Rep.      Asia  2007   78.623  49044790  23348.13973

In [47]:
# Asia 대륙에서 1인당 GDP가 20,000 이상인 자료에서
# 나라 이름, 연도, 1인당 GDP를 출력
subset = gapminder[(gapminder["continent"] == "Asia") & (gapminder["gdpPercap"] >= 20_000)]
subset

               country continent  year  lifeExp        pop     gdpPercap
93             Bahrain      Asia  1997   73.925     598561   20292.01679
94             Bahrain      Asia  2002   74.795     656397   23403.55927
95             Bahrain      Asia  2007   75.635     708573   29796.04834
667   Hong Kong, China      Asia  1987   76.200    5584510   20038.47269
668   Hong Kong, China      Asia  1992   77.601    5829696   24757.60301
669   Hong Kong, China      Asia  1997   80.000    6495918   28377.63219
670   Hong Kong, China      Asia  2002   81.495    6762476   30209.01516
671   Hong Kong, China      Asia  2007   82.208    6980412   39724.97867
765             Israel      Asia  1997   78.269    5531387   20896.60924
766             Israel      Asia  2002   79.696    6029529   21905.59514
767             Israel      Asia  2007   80.745    6426679   25523.27710
799              Japan      Asia  1987   78.670  122091325   22375.94189
800              Japan      Asia  1992   79.360  124329269   26824.89511
801              Japan      Asia  1997   80.690  125956499   28816.58499
802              Japan      Asia  2002   82.000  127065841   28604.59190
803              Japan      Asia  2007   82.603  127467972   31656.06806
851        Korea, Rep.      Asia  2007   78.623   49044790   23348.13973
852             Kuwait      Asia  1952   55.565     160000  108382.35290
853             Kuwait      Asia  1957   58.033     212846  113523.13290
854             Kuwait      Asia  1962   60.470     358266   95458.11176
855             Kuwait      Asia  1967   64.624     575003   80894.88326
856             Kuwait      Asia  1972   67.712     841934  109347.86700
857             Kuwait      Asia  1977   69.343    1140357   59265.47714
858             Kuwait      Asia  1982   71.309    1497494   31354.03573
859             Kuwait      Asia  1987   74.174    1891487   28118.42998
860             Kuwait      Asia  1992   75.190    1418095   34932.91959
861             Kuwait      Asia  1997   76.156    1765345   40300.61996
862             Kuwait      Asia  2002   76.904    2111561   35110.10566
863             Kuwait      Asia  2007   77.588    2505559   47306.98978
1163              Oman      Asia  2007   75.640    3204897   22316.19287
1312      Saudi Arabia      Asia  1972   53.886    6472756   24837.42865
1313      Saudi Arabia      Asia  1977   58.690    8128505   34167.76260
1314      Saudi Arabia      Asia  1982   63.012   11254672   33693.17525
1315      Saudi Arabia      Asia  1987   66.295   14619745   21198.26136
1316      Saudi Arabia      Asia  1992   68.768   16945857   24841.61777
1317      Saudi Arabia      Asia  1997   70.533   21229759   20586.69019
1319      Saudi Arabia      Asia  2007   72.777   27601038   21654.83194
1364         Singapore      Asia  1992   75.788    3235865   24769.89120
1365         Singapore      Asia  1997   77.158    3802309   33519.47660
1366         Singapore      Asia  2002   78.770    4197776   36023.10540
1367         Singapore      Asia  2007   79.972    4553009   47143.17964
1509            Taiwan      Asia  1997   75.250   21628605   20206.82098
1510            Taiwan      Asia  2002   76.990   22454239   23235.42329
1511            Taiwan      Asia  2007   78.400   23174294   28718.27684

In [48]:
subset[["country", "year", "gdpPercap"]]

               country  year     gdpPercap
93             Bahrain  1997   20292.01679
94             Bahrain  2002   23403.55927
95             Bahrain  2007   29796.04834
667   Hong Kong, China  1987   20038.47269
668   Hong Kong, China  1992   24757.60301
669   Hong Kong, China  1997   28377.63219
670   Hong Kong, China  2002   30209.01516
671   Hong Kong, China  2007   39724.97867
765             Israel  1997   20896.60924
766             Israel  2002   21905.59514
767             Israel  2007   25523.27710
799              Japan  1987   22375.94189
800              Japan  1992   26824.89511
801              Japan  1997   28816.58499
802              Japan  2002   28604.59190
803              Japan  2007   31656.06806
851        Korea, Rep.  2007   23348.13973
852             Kuwait  1952  108382.35290
853             Kuwait  1957  113523.13290
854             Kuwait  1962   95458.11176
855             Kuwait  1967   80894.88326
856             Kuwait  1972  109347.86700
857             Kuwait  1977   59265.47714
858             Kuwait  1982   31354.03573
859             Kuwait  1987   28118.42998
860             Kuwait  1992   34932.91959
861             Kuwait  1997   40300.61996
862             Kuwait  2002   35110.10566
863             Kuwait  2007   47306.98978
1163              Oman  2007   22316.19287
1312      Saudi Arabia  1972   24837.42865
1313      Saudi Arabia  1977   34167.76260
1314      Saudi Arabia  1982   33693.17525
1315      Saudi Arabia  1987   21198.26136
1316      Saudi Arabia  1992   24841.61777
1317      Saudi Arabia  1997   20586.69019
1319      Saudi Arabia  2007   21654.83194
1364         Singapore  1992   24769.89120
1365         Singapore  1997   33519.47660
1366         Singapore  2002   36023.10540
1367         Singapore  2007   47143.17964
1509            Taiwan  1997   20206.82098
1510            Taiwan  2002   23235.42329
1511            Taiwan  2007   28718.27684