In [2]:
import pandas as pd

In [6]:
# CSV(Comma-Separated Values) : 
# 값들이 comma(,)로 구분되어 있는 텍스트 파일
# 구분자(separator) : 값들을 구별하기 위해서 넣는 특수 문자
# CSV 파일 일반적으로 comma를 구분자로 사용하지만,
# 탭('\t'), 콜론(:), 이중콜론(::) 등 다양하게 구분자를 사용할 수 있음

path = 'drive/My Drive/Colab Notebooks/202006/gapminder.tsv'
gapminder = pd.read_csv(path, sep='\t')
gapminder.head()   # DataFrame에서 첫 5개 행만 선택

       country continent  year  lifeExp       pop   gdpPercap
0  Afghanistan      Asia  1952   28.801   8425333  779.445314
1  Afghanistan      Asia  1957   30.332   9240934  820.853030
2  Afghanistan      Asia  1962   31.997  10267083  853.100710
3  Afghanistan      Asia  1967   34.020  11537966  836.197138
4  Afghanistan      Asia  1972   36.088  13079460  739.981106

In [12]:
print(gapminder.shape)   # (row 개수, column 개수)

(1704, 6)

In [14]:
print(gapminder.columns)   # 컬럼 이름

Index(['country', 'continent', 'year', 'lifeExp', 'pop', 'gdpPercap'], dtype='object')

In [15]:
gapminder.describe()   # 요약 기술 통계량(descriptive statistics)

             year      lifeExp           pop      gdpPercap
count  1704.00000  1704.000000  1.704000e+03    1704.000000
mean   1979.50000    59.474439  2.960121e+07    7215.327081
std      17.26533    12.917107  1.061579e+08    9857.454543
min    1952.00000    23.599000  6.001100e+04     241.165877
25%    1965.75000    48.198000  2.793664e+06    1202.060309
50%    1979.50000    60.712500  7.023596e+06    3531.846989
75%    1993.25000    70.845500  1.958522e+07    9325.462346
max    2007.00000    82.603000  1.318683e+09  113523.132900

In [18]:
# DataFrame에서 컬럼을 선택 : df[컬럼이름], df[[col1, col2, ...]]
# gapminder DF에서 나라이름, GDP 선택
gapminder[["country", "gdpPercap"]]

          country   gdpPercap
0     Afghanistan  779.445314
1     Afghanistan  820.853030
2     Afghanistan  853.100710
3     Afghanistan  836.197138
4     Afghanistan  739.981106
...           ...         ...
1699     Zimbabwe  706.157306
1700     Zimbabwe  693.420786
1701     Zimbabwe  792.449960
1702     Zimbabwe  672.038623
1703     Zimbabwe  469.709298

[1704 rows x 2 columns]

In [21]:
# DataFrame에서 row로 선택 : df.loc[], df.iloc[]
gapminder.loc[0:4]

       country continent  year  lifeExp       pop   gdpPercap
0  Afghanistan      Asia  1952   28.801   8425333  779.445314
1  Afghanistan      Asia  1957   30.332   9240934  820.853030
2  Afghanistan      Asia  1962   31.997  10267083  853.100710
3  Afghanistan      Asia  1967   34.020  11537966  836.197138
4  Afghanistan      Asia  1972   36.088  13079460  739.981106

In [22]:
gapminder.iloc[0:5]

       country continent  year  lifeExp       pop   gdpPercap
0  Afghanistan      Asia  1952   28.801   8425333  779.445314
1  Afghanistan      Asia  1957   30.332   9240934  820.853030
2  Afghanistan      Asia  1962   31.997  10267083  853.100710
3  Afghanistan      Asia  1967   34.020  11537966  836.197138
4  Afghanistan      Asia  1972   36.088  13079460  739.981106

In [23]:
# gapminder DF에서 끝에서 7개의 행(row)를 선택
gapminder.iloc[-7:]

       country continent  year  lifeExp       pop   gdpPercap
1697  Zimbabwe    Africa  1977   57.674   6642107  685.587682
1698  Zimbabwe    Africa  1982   60.363   7636524  788.855041
1699  Zimbabwe    Africa  1987   62.351   9216418  706.157306
1700  Zimbabwe    Africa  1992   60.377  10704340  693.420786
1701  Zimbabwe    Africa  1997   46.809  11404948  792.449960
1702  Zimbabwe    Africa  2002   39.989  11926563  672.038623
1703  Zimbabwe    Africa  2007   43.487  12311143  469.709298